@model NinjaInfo

<title>Register</title>
<div class="row">
    <div class="col-5">
        <table class="table table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Ninja Name</th>
                    <th scope="col">Home Dojo</th>
                </tr>
            </thead>
            <tbody>
                
                @foreach(var ninja in Model.ninjas)
                {
                    @if( ninja.dojo==null)
                    {
                        <tr>
                            <td> <a href="ninja/@ninja.ninja_id">@ninja.name</a></td>
                            <td> Rogue</td>
                        </tr>
                    }
                    else
                    {

                        <tr>
                            <td> <a href="ninja/@ninja.ninja_id">@ninja.name</a></td>
                            <td> <a href="dojo/@ninja.dojo.dojo_id">@ninja.dojo.name</a></td>
                        </tr>
                    }
                    
                }
            
                
            </tbody>
        </table>
    </div>
    <div class="col-5">
        <h5 class="font-weight-bold d-inline-block">Register A Ninja</h5>
        <img src="~/images/octocat3.gif" alt=" cat gif" id="catGif">
        <hr>

        <form action="createNinja" method="post">
            <div class="form-group">
                <label asp-for="ninja.name"></label>
                <input asp-for="ninja.name" class="form-control">
                <small><span asp-validation-for="ninja.name" class="text-danger font-weight-bold"></span></small>
            </div>

            <div class="form-group">
                <label asp-for="ninja.level"></label> <small>( 1 - 10)</small>
                <input asp-for="ninja.level" class="form-control">
                <small><span asp-validation-for="ninja.level" class="text-danger font-weight-bold"></span></small>
            </div>
            <div class="form-group">
                <label asp-for="ninja.dojo_id"></label>
                <select asp-for="ninja.dojo_id" class="form-control">
                    <option value="">Rogue</option>
                    @foreach(var dojo in Model.dojos){
                        <option value="@dojo.dojo_id">@dojo.location (@dojo.name)</option>
                    }
                </select>
                <small><span asp-validation-for="ninja.dojo_id" class="text-danger font-weight-bold"></span></small>
 
            </div>
            <div class="form-group">
                <label asp-for="ninja.description"></label>
                <textarea asp-for="ninja.description" cols="30" rows="5" class="form-control"></textarea>
                <small><span asp-validation-for="ninja.description" class="text-danger font-weight-bold"></span></small>

            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-outline-success shadow">Add</button>
            </div>
        </form>
    </div>
</div>